%body
  .bgimg
  .info_block= "Today in #{city_name} is #{temp} and it`s fells like #{feels_like}"
  .sky_block= "Sky is #{sky}"
%footer
  .find_city
    = form_with url: home_path, method: :get do |form|
      = form.label :city, "City:"
      = form.text_field :city
      = form.submit "Search"

