%body
  .bgimg
  .info_block= t('view.home.show.city_info', city: city_name, temp: temp, feels_like: feels_like)
  .sky_block= t('view.home.show.sky_info', sky_info: sky)
%footer
  .find_city
    = form_with url: home_path, method: :get do |form|
      = form.label :city, t('view.home.show.city_label')
      = form.text_field :city
      = form.submit t('view.home.show.search_button')
